<div class="col s12 m8 l9 copyright_body">
  <h3 class="title">Рекламодателям</h3>

  <div class="copyright_div">
    <p > <em class="selected_text">Видеореклама - главная тенденция развития рынка онлайн-рекламы - в этом уверены как западные, так и российские специалисты.</em> Это инновационное перспективное медиа, которое одновременно включает в себя имиджевый эффект и охват рекламы на ТВ, и результативность и обратную связь Интернет-рекламы. Через интернет телевизионные продукты потребляют на сегодня более половины россиян, а самым востребованным видеоконтентом являются полнометражные фильмы и сериалы, что еще раз подтверждает актуальность интернет-кинотеатров в Рунете. Сделать запрос на размещение рекламы на нашем сайте вы можете обратившись по номерам, указанным ниже:

    </p>
<p>
  По вопросам просим Вас обращаться на email: <em class="selected_text">example.@com</em> или форму обратной связи.
</p>
  </div>



</div>
