.description_film {
  margin-left: 15px;
  display: inline-block;
}
.video-container {
  margin-top: 20px;
}
.comment_body{
  height: 100px;
  text-align: center;
  border: 1px solid #039be5;
  margin-top: 20px;

}
.desc_body {
  border: 1px solid #039be5;
  height: 100%;
  padding: 0;

}
.title {
  color: #039be5;
}
.nav-wrapper {
  background-color:  #039be5;
}
.nav_brodcast {
  margin: 10px 0;
}
.viboom-overroll {
  height: 750px;
}