<div class="col s12 m8 l9 copyright_body">
  <h3 class="title">Правообладателям</h3>

  <div class="copyright_div">
  <p class="selected_text">Ресурс KinoMino действует в соответствии с законодательством Российской Федерации о защите информации и авторских прав.</p>
  <p>  Весь размещенный на сайте контент представляет собой материал, находящийся в свободном доступе для просмотра и скачивания в сети Интернет. Сбор доступных в Интернете материалов и их размещение в каталоге осуществляется в автоматическом режиме. Администрация сайта в данном случае не осуществляет контроль над добавляемым контентом.
  </p>
  <p>  Администрация сайта также не осуществляет деятельность, связанную с публикацией нелицензионного контента, незаконно украденного и находящегося под защитой правообладателей. Автоматизированная система публикует только находящийся в свободном доступе материал из открытых источников.
  </p>
  <p> <em class="selected_text">Ресурс KinoMino всегда открыт для сотрудничества с правообладателями.</em>  Если Ваши исключительные права на объекты авторской собственности нарушаются каким-либо образом с использованием данного ресурса (размещение информации, защищенной авторским правом), администрация готова оказать Вам содействие и удалить с сайта соответствующие материалы.
  </p>
  <p>  При возникновении спорных ситуаций мы просим Вас прислать нам письмо в электронном виде, где необходимо указать следующее:
  </p>
  <ul>
    <li> 1. Документальное подтверждение Ваших прав на материал, защищённый авторским правом:
      <ul>
        <li>
          отсканированный документ с печатью, либо
        </li>
        <li>
          email с официального почтового домена компании правообладателя, либо
        </li>
        <li>
          иная информация, позволяющая однозначно идентифицировать Вас как правообладателя данного материала.
        </li>
      </ul>



    </li>
    <li>
      2. Прямые ссылки на страницы сайта, которые содержат данные, опубликованные с нарушением авторских прав.
    </li>
  </ul>

  <p>  При получении письма, содержащего данное подтверждение, в течение 48 часов мы удалим с сайта защищенный авторским правом контент. Либо по вашей же просьбе заменим материал на вас устраивающий плеер с легального онлайн кинотеатра или канала YouTube.
  </p>

  <p>  По вопросам просим Вас обращаться на email: <em class="selected_text">example.@com</em> или форму обратной связи.
  </p>
</div>



</div>
