
<div class="card col m3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="activator" src="http:{{ films.img_link }}">
  </div>
  <div class="card-content">
    <span class="card-title activator grey-text text-darken-4"><span class="filmName">{{ films.name }}</span><i class="material-icons right">more_vert</i></span>
    <p><a class="watchOnline" [routerLink]="['/film', films.id ]">Смотреть фильм</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4">{{ films.name }}<i class="material-icons right">close</i></span>
    <p>Жанр: {{ films.genre }}</p>
    <p>Год выпуска: {{ films.year }}</p>
    <p>Длительность: {{ films.duration }} мин.</p>
  </div>
</div>
