<div class="card col m3">
  <div class="card-image waves-effect waves-block waves-light">
    <img class="responsive-img" src="http:{{ films.img_link }}">
  </div>
  <div class="card-content">
    <span class=" activator grey-text text-darken-4">
      <i class="material-icons right">more_vert</i>
      {{ films.name }}
      </span>
    <p><a [routerLink]="['/film', films.id ]">Смотреть фильм</a></p>
  </div>
  <div class="card-reveal">
    <span class="card-title grey-text text-darken-4 flow-text">
    <i class="material-icons right">close</i>
      {{ films.name }}
    </span>
    <p>Жанр: {{ films.genre }}</p>
    <p>Год выпуска: {{ films.year }}</p>
    <p>Длительность: {{ films.duration }} мин.</p>
  </div>
</div>
