<div class="col s12 m4 l3"> <!-- Note that "m4 l3" was added -->
  <div class="logo">
    <a routerLink="/"><h1>KinoMino</h1></a>
  </div><!-- end logo -->
  <ul class="collapsible">
    <li>
      <div class="collapsible-header">
        <i class="material-icons">dehaze</i>
        Категории
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a href="/changeCategory?category=Боевики">Биографии</a></li>
          <li><a href="#">Боевики</a></li>
          <li><a href="#">Вестерны</a></li>
          <li><a href="#">Военные</a></li>
          <li><a href="#">Детективы</a></li>
          <li><a href="#">Детские</a></li>
          <li><a href="#">Документальные</a></li>
          <li><a href="#">Драмы</a></li>
          <li><a href="#">Исторические</a></li>
          <li><a href="#">Комедии</a></li>
          <li><a href="#">Криминал</a></li>
          <li><a href="#">Мелодрамы</a></li>
          <li><a href="#">Мультфильмы</a></li>
          <li><a href="#">Мюзиклы</a></li>
          <li><a href="#">Отечественные</a></li>
          <li><a href="#">Приключения</a></li>
          <li><a href="#">Семейные</a></li>
          <li><a href="#">Трагикомедия</a></li>
          <li><a href="#">Триллеры</a></li>
          <li><a href="#">Ужасы</a></li>
          <li><a href="#">Фантастика</a></li>
          <li><a href="#">Фэнтези</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">perm_contact_calendar</i>
        Дате
      </div>
      <div class="collapsible-body">
        <ul>
          <li><a href="#">2018</a></li>
          <li><a href="#">2017</a></li>
          <li><a href="#">2016</a></li>
          <li><a href="#">2015</a></li>
          <li><a href="#">2014</a></li>
        </ul>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">movie</i>
        <a routerLink="/allFilms" class="menu_link">Все фильмы</a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">live_tv</i>
        <a routerLink="/allSerials" class="menu_link">Все сериалы</a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">message</i>
        <a routerLink="/message" class="menu_link">Обратная связь</a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">perm_identity</i>
        <a routerLink="/copyright" class="menu_link">Правообладателям</a>
      </div>
    </li>
    <li>
      <div class="collapsible-header">
        <i class="material-icons">local_atm</i>
        <a routerLink="/advertisement" class="menu_link">Правообладателям</a>
      </div>
    </li>

  </ul>

  <div id="menu_icon"></div>
  <!--<ul class="social clearfix">-->
  <!--<li><a href="#" class="fb" data-title="Facebook"></a></li>-->
  <!--<li><a href="#" class="google" data-title="Google +"></a></li>-->
  <!--<li><a href="#" class="behance" data-title="Behance"></a></li>-->
  <!--&lt;!&ndash;<li><a href="#" class="twitter" data-title="Twitter"></a></li>-->
  <!--<li><a href="#" class="dribble" data-title="Dribble"></a></li>&ndash;&gt;-->
  <!--<li><a href="#" class="rss" data-title="RSS"></a></li>-->
  <!--</ul>&lt;!&ndash; end social &ndash;&gt;-->

  <!-- end footer -->

</div>

<router-outlet>

</router-outlet>
