<div class="search_input">
    <div class="input-field col s8">
        <input id="search" type="text" class="validate" [(ngModel)]="searhStr">
        <label class="active" for="search">Поиск по имени</label>
    </div>
</div>

<div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
    <div class="row">
        <app-moves
                *ngFor="let moves of returnedArray | searchFilms :searhStr"
                [films]='moves'
        >
            <div>

            </div>
        </app-moves>
    </div>
    <!--<app-all-films-->
    <!--*ngFor="let moves of films | searchFilms :searhStr"-->

    <!--&gt;-->
    <!--</app-all-films>-->
    <div class="row" style="text-align: center">
        <pagination [totalItems]="films.length" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
    </div>


</div>
