<div class="row search_input">
    <div class="input-field col s8">
        <input id="search" type="text" class="validate" [(ngModel)]="searhStr">
        <label class="active" for="search">Поиск по имени</label>
    </div>
    <div class="col s12 m8 l9" style="text-align: center" *ngIf="searhStr.length == 0">
        <pagination [totalItems]="films.length" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
    </div>

    <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <div class="row" *ngIf="searhStr.length == 0">
            <app-moves
                    *ngFor="let moves of returnedArray"
                    [films]='moves'
            >
            </app-moves>
        </div>
        <div class="row" *ngIf="searhStr.length > 0">
            <app-moves
                    *ngFor="let moves of films | searchFilms :searhStr "
                    [films]='moves'
            >
            </app-moves>
        </div>
        <!--<div *ngFor="let film of films | searchFilms :searhStr" style="display: none">-->

        <!--</div>-->

        <div class="row" style="text-align: center" *ngIf="searhStr.length == 0">
            <pagination [totalItems]="films.length" (pageChanged)="pageChanged($event)" [maxSize]="maxSize"></pagination>
        </div>


    </div>
</div>
