<div class="row search_input">
    <div class="input-field col s8">
        <input id="search" type="text" class="validate" [(ngModel)]="searhStr">
        <label class="active" for="search">Поиск по имени</label>
    </div>
    <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
        <div *ngIf="!categories">
            <pagination [totalItems]="films.length" style="text-align: center" *ngIf="searhStr.length == 0"
                        (pageChanged)="pageChanged($event)"
                        [maxSize]="maxSize"></pagination>
            <div class="row" *ngIf="searhStr.length == 0">
                <app-moves
                        *ngFor="let moves of returnedArray"
                        [films]='moves'
                >
                </app-moves>
            </div>
            <div class="row" *ngIf="searhStr.length > 0">
                <app-moves
                        *ngFor="let moves of films | searchFilms :searhStr "
                        [films]='moves'
                >
                </app-moves>
            </div>
            <pagination [totalItems]="films.length" style="text-align: center" *ngIf="searhStr.length == 0"
                        (pageChanged)="pageChanged($event)"
                        [maxSize]="maxSize"></pagination>
        </div>
        <div *ngIf="categories">
            <pagination [totalItems]="films2.length" style="text-align: center" *ngIf="searhStr.length == 0"
                        (pageChanged)="pageChanged($event)"
                        [maxSize]="maxSize"></pagination>

            <div class="row" *ngIf="searhStr.length == 0">
                <app-moves
                        *ngFor="let moves of results"
                        [films]='moves'
                >
                </app-moves>
            </div>
            <div class="row" *ngIf="searhStr.length > 0">
                <app-moves
                        *ngFor="let moves of films2 | searchFilms :searhStr "
                        [films]='moves'
                >
                </app-moves>
            </div>
            <pagination [totalItems]="films2.length" style="text-align: center" *ngIf="searhStr.length == 0"
                        (pageChanged)="pageChanged($event)"
                        [maxSize]="maxSize"></pagination>
        </div>
    </div>
</div>
