
<div  class="search_input">
  <div class="input-field col s8">
    <input  id="search" type="text" class="validate" [(ngModel)]="searhStr">
    <label class="active" for="search">Поиск по имени</label>
  </div>
</div>

  <div class="col s12 m8 l9"> <!-- Note that "m8 l9" was added -->
    <app-moves
      *ngFor="let moves of films | search :searhStr"
      [films] = 'moves'
    ></app-moves>
    <!-- Note that "m8 l9" was added -->
    <app-serials
      *ngFor="let ser of returnedArray | search :searhStr"
      [serial] = 'ser'
    >

    </app-serials>
    <pagination [totalItems]="serial.length" (pageChanged)="pageChanged($event)"></pagination>
  </div>



